#header {
    /*background-color: #8dc63f;*/
    overflow: hidden;
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 20px;
}
#top-menu {
    /*background-color: #8dc63f;*/
    float: left;
}
#logo {
    /*background-color: #5a4a42;*/
    float: right;
    padding-right: 1em;
}
#footer-menu {
    background-color: #8dc63f;
}

#records {
    width:100%
}

#records td{
    font-size:16pt;
}
/*5a4a42*/
#records td {
    background-color: #ACD369;
}
#records th {
    background-color: #C85D47;
}
#content {
    background-color: #fff;
}
table.tablesorter {
    background-color: #5a4a42;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: none;
}

/*--- reset p from bootstrap ---*/

p {
    margin : 1em 0px;
}

#content {
    background-color: #ACD369;
    margin-top: 10px;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 48px;
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 30px;
}

/*@media (min-width: 768px)*/
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
        margin-right: 1em;
        margin-left: 0;
    }

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 1em;
    margin-left: 0;
}

.navbar-nav {
    margin: 15px;
}

.checkbox-label {
    margin-top: 0.8em;
}

.radiodrop {
    margin-top: 1em;
}

.radio label, .checkbox label {
    padding-left: 0px;
    margin-bottom: 1em;
    font-weight: 700;
}

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}