
html,body {
	margin: 0;
	padding: 0;
}

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    /* background-color: #5c87b2; */
/*     font-size: 75%; */
    /* font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif; */
    font-family: Tahoma,Verdana,Arial,sans-serif;
    /* Do not set the font-size here - it will mess up the datepicker.
    font-size: 8px; */
    margin: 0;
    padding: 0;
    /* color: #696969; */
    background-color: #ffffff;
}

a:link
{
    color: #034af3;
    /*text-decoration: underline;*/
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

/* p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
} */

/* HEADINGS   
----------------------------------------------------------*/
/* h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}
*/

h1 {
    font-size: 12pt;
    font-weight: bold;
}
h2 {
    font-size: 10pt;
    font-weight: bold;
}
h3 {
    font-size: 9pt;
    font-weight: bold;
}
td {
    font-size: 8pt;
}
th {
    font-size: 8pt;
}


/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
    margin-top: 6px;
}

input 
{
    margin-top: 6px;
}

input[type="text"] 
{
    /* width: 200px; */
    //border: 1px solid #CCC;
    margin-top: 6px;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

select 
{
    margin-top: 6px;
}

select, textarea {
    background-color: #EBF1FA;
    color: #222222;
    font-size: 8pt;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
    background-color: #B2B9C6;
    color: #000000;
}

/* TABLE
----------------------------------------------------------*/

.razortable 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

.razortable td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

.razortable th
{
  padding: 6px 5px;
  text-align: left;
  /* background-color: #e8eef4; */
  background-color: #2175BC;
  /* border: solid 1px #e8eef4; */
  border: solid 1px #2175bc;  
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error {
    color: Red;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* TIMS styles */
.sectionHeaderIE {
	background-color: Silver;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding : 0px 0px 0px 0px;
	text-align:left;
	text-transform:uppercase;
}
.sectionHeader {
    background: none repeat scroll 0 0 #DDDDDD;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.sectionSubHeader {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color : #162E56;
	text-align:left;
	line-height:3px;
	background-color:transparent;
}
#FFA070 {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 46px;
	width: 100%;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	/*background-image: url("/Content/images/banner_bkgd.gif"); */
}
.banner-home-vert {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	font-size: 10pt;
	color: white;
	/*background-image: url("../images/banner_bkgd.gif"); */
	background-color:#6EA8E4
}
.patient-home-vert {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	font-size: 10pt;
	color: white;
	/*background-image: url("../images/banner_bkgd.gif"); */
	background-color:#6EA8E4
}
.patient-home-vert td {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	font-size: 16pt;
	color: white;
	/*background-image: url("../images/banner_bkgd.gif"); */
	background-color:#6EA8E4
}
.serviceHeader {
	font-weight: bold;
	font-size: 12pt;
	color: navy;
	vertical-align: middle;
	margin: 5px;
}
.serviceHeaderSite {
	font-weight: bold;
	font-size: 10pt;
	color: navy;
	vertical-align: middle;
	text-align: center;
	margin: 5px;
}
a:link {
	color: Blue;
	text-decoration: none
}

/*	text-decoration: underline; */
a:visited {
	color: Purple;
	text-decoration: inherit
}

/* 	text-decoration: underline; */
a:hover {
	color: Red;
	text-decoration: none;
}
#loginStatus-print {
	position: relative;
	left: 125px;
	width: 658px;
	background-color: transparent;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	padding-bottom: .9em;
	font-size: 10pt;
	border: 1px solid grey;
	height:32px;
}
#loginStatusNone {
	position: relative;
	left: 130px;
	width: 660px;
	background-color: transparent;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	padding-bottom: .9em;
	font-size: 10pt;
	height:32px;
}
.rowheader {
	background-color: navy;
	color: white;
}
.patientrowheader {
	background-color: #2586d7;
	color: white;
}
.patientrow {
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	color: black
}
th {
	font-size: 8pt;
}
div#search-results {
	margin-bottom: 2px;
}

div#search-results h1 {
	background: #2175bc top left repeat-x;
	color: #FFF;
	font-size: 140%;
	font-weight: normal;
	padding: 8px 10px;
	margin: 0;
}
div#search-results input[type=text] {
	font-size: 1.6em;
	height: 26px;
}
#search-results-form {
	height:42px;
	margin-bottom:0px;
}

#search-results-body {
	background: #ffffff;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	/*padding-left: 4px;*/
	margin-top: 4px;
	font-size: 10pt;
	overflow: auto;
	/*border: 1px solid black;*/
	border-top: 1px solid black;
	border-left: 1px solid black;
	/*border-right: 1px solid black;*/
}

#search-results-body-vert {
	/*background: #ffffff;*/
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	/*padding-left: 4px;*/
	/*margin-top: 2px;*/
	font-size: 10pt;
	overflow: auto;
	/*border: 1px solid black;*/
	/*border-top: 1px solid black;
	border-left: 1px solid black;*/
	/*border-right: 1px solid black;*/
}

#form-container-vert {
	/*background: #ffffff;*/
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	padding-left: 4px;
	/*margin-top: 2px;*/
	font-size: 12pt;
	overflow: auto;
	/*border: 1px solid black;*/
	/*border-top: 1px solid black;
	border-left: 1px solid black;*/
	/*border-right: 1px solid black;*/
}

#search-results-list {
	position: relative;
}

#search-results-list-pager {
	position: relative;
	/*height: 25px;
	vertical-align: bottom;
	overflow: auto;*/
}

#search-results-none {
	position: relative;
	width: 874px;
	vertical-align: bottom;
	overflow: auto;
}
#sidebar-a-print {
	float: left;
	position: relative;
	left: 0px;
	background-color: transparent;
	width: 125px;
	background-color: rgb(235, 235, 235);
	font-family: Tahoma, Verdana, Arial, sans-serif;
}
#sidenavcontainer {
	width: 120px;
	border-right: .5px solid #000;
	padding: 0 0 2px 0;
	margin-bottom: 1em;
	background-color: #90bade;
	color: #fff;
	font-size: 10pt;
}

#sidenavcontainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	color: #fff;
}

#sidenavcontainer li {
	border-bottom: 1px solid #90bade;
	color: #000;
	font-size: 12pt;
}

#sidenavcontainer li a {
	display: block;
	padding: 3px 3px 3px 3px;
	border-left: 5px solid #1958b7;
	border-right: 5px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #sidenavcontainer li a {
	width: auto;
}

#sidenavcontainer li a:hover {
	border-left: 5px solid #1c64d1;
	border-right: 5px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}

#sidenavcontainer li a:visited,#sidenavcontainer li a:active,#sidenavcontainer li a:link
	{
	color: #fff;
	text-decoration: none;
}
/*#maincol {
	float: left;
	display: inline;
	position: relative;
	width: 870px;
}*/
/* #pagewidth { */
/* 	width: 1024px; */
/* } */
/* #pagewidth-vert { */
/* 	width: 370px; */
/* } */
#views{
/*  width:370px;  */
/*  float:left;  */
/*  position:relative;  */
  }
#twocols {
	width: 650px;
	float: right;
	position: relative;
	/*background: #6EA8E4;*/
}
#rightcol{
/*  width:100px;  */
/*  float:right;  */
/*  position:relative;  */
/*  width: 44px; */
 }
 #maincol{
 /*background-color: #FFFFFF;  */
 float: left; 
  position: relative; 
 width:520px; 
 }
/* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.defaultCell {
background-color:#fff;border: 1px solid silver;
}

/* This is the style for the trigger icon. The margin-bottom value causes the icon to shift down to center it. */
.ui-datepicker-trigger {
margin-left:5px;
margin-top: 6px; 
margin-bottom: -4px;
}

#formsIE {
    position:absolute;
    left:500px;
    width:500px;
    top:0px;
	background-color: transparent;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align : top;
	padding-bottom:1em;
	font-size: 10pt;
	height:530px;
	overflow : auto;
}

#forms {
	/* background-color: #FFFFFF; */
	float: left;
	display: inline;
	position: relative;
	width: 640px;
	/* background: #ffffff; */
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	font-size: 10pt;
}

.enhancedtable {
	border-collapse: collapse;
	border: 1px solid #000;
}

.enhancedtable td {
	border: 1px solid #000;
	padding: 5px;
	vertical-align: top;
	background: #ffffff;
}

.enhancedtable th {
	border: 2px solid #000;
	padding: 2px;
	vertical-align: middle;
	background: #ddd;
}

.enhancedtabletighter {
	border-collapse: collapse;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

	/* Calendar has problems relating to property inheritance in tables. You need to reset any properties in the super table
if they are causing problems. If you need enhancedtable, use this one  */
.enhancedtabletighter {
	border: 1px solid #000;
	vertical-align: middle;
	text-align: center;
}

.enhancedtabletighter th {
	border: 1px solid #000;
	vertical-align: middle;
	background: #ddd;
}

.enhancedtabletighter td {
	border: 1px solid #000;
	vertical-align: top;
}

#tasklist {
	background-color: #FFFFFF;
	float: left;
	display: inline;
	position: relative;
	width: 610px;
	background: #ffffff;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	padding-bottom: 5px;
	padding-left: 4px;
	font-size: 10pt;
}

.formTable {
	margin: 0px;
	background-color: transparent;
}

.formTable td {
	font-size: 12pt;
}

.renderedValue {
	background-color: #AFEEEE;
	margin: 2px 2px 2px 2px;
}
#widePageNoWidth {
	background-color: #FFFFFF;
	float: left;
	display: inline;
	position: relative;
	background: #ffffff;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	vertical-align: top;
	padding-bottom: 5px;
	padding-left: 4px;
	font-size: 10pt;
}

/*#patients td {
	font-size: 14pt;
	padding-right : 10px;
}*/
/*#patients th {
	font-size: 10pt;
}*/
/*#form-search {
	width: 65px;
	height: 25px;
	font-size: 10pt;
}*/
    
    /* shiny blue (inspired by rdio iphone interface)
     * https://github.com/ubuwaits/css3-buttons
     *******************************************************************************/
button.shiny-blue {
  background-color: #2175BC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2175BC 0%), to(#2175BC 50%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2175BC 0%, #2175BC 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -moz-linear-gradient(top, #2175BC 0%, #2175BC 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -ms-linear-gradient(top, #2175BC 0%, #2175BC 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -o-linear-gradient(top, #2175BC 0%, #2175BC 50%, #1a5ad9 50%, #2463de 100%);
  background-image: linear-gradient(top, #2175BC 0%, #2175BC 50%, #1a5ad9 50%, #2463de 100%);
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -ms-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -o-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  /*font: bold 12px "helvetica neue", helvetica, arial, sans-serif;*/
  padding: 4px 0;
  /*text-shadow: 0 -1px 1px #1a5ad9;*/
  width: 75px;
  font-size: 12pt;
   }
  
  button.shiny-blue:hover {
    background-color: #2175BC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2175BC 0%), to(#2261e0 50%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #2175BC 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -moz-linear-gradient(top, #2175BC 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -ms-linear-gradient(top, #2175BC 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -o-linear-gradient(top, #2175BC 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: linear-gradient(top, #2175BC 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    cursor: pointer; }
    
  button.shiny-blue:active {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    border-bottom: 1px solid #133780;
    border-left: 1px solid #174299;
    -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee; }
    
button.shiny-red {
  background-color: #FFA070;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA070 0%), to(#FFA070 50%));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -ms-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -o-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  /*font: bold 12px "helvetica neue", helvetica, arial, sans-serif;*/
  padding: 4px 0;
  /*text-shadow: 0 -1px 1px #1a5ad9;*/
  width: 75px;
  font-size: 12pt;
   }

	
button.menu-red {
  background-color: #FFA070;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A65024 0%), to(#FFA070 50%));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -ms-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -o-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  /*font: bold 12px "helvetica neue", helvetica, arial, sans-serif;*/
  padding: 4px 0;
  /*text-shadow: 0 -1px 1px #1a5ad9;*/
  width: 60px;
  font-size: 10pt;
   }
   
button.menu-blue {
  background-color: #2175BC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A65024 0%), to(#2175BC 50%));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -ms-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -o-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  /*font: bold 12px "helvetica neue", helvetica, arial, sans-serif;*/
  padding: 4px 0;
  /*text-shadow: 0 -1px 1px #1a5ad9;*/
  width: 60px;
  font-size: 10pt;
   }
   
button.menu-skinny-blue {
  background-color: #2175BC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A65024 0%), to(#2175BC 50%));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -ms-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -o-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  /*font: bold 12px "helvetica neue", helvetica, arial, sans-serif;*/
  padding: 4px 0;
  /*text-shadow: 0 -1px 1px #1a5ad9;*/
  width: 20px;
  font-size: 10pt;
   }
	
/*Home page search results table
 * Kudos: http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
 * hor-zebra
 * Also: http://docs.jquery.com/Tutorials:Zebra_Striping_Made_Easy
 * */

#incidents
{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
	font-size: 12px;
	/*margin: 10px;*/
	/*width: 480px;*/
	text-align: left;
	border-collapse: collapse;
}

/*#incidents th
{
	font-size: 16px;
	font-weight: normal;
	padding: 6px 4px;
	color: #039;
}*/
#incidents th {
	font-size: 16px;
	/*background: #3E83C9;*/
	/*background: #FF8040;*/
	/*background: #6989AB;*/
	background: #BFA040;
	color: white;
	font-weight: bold;
	padding: 2px 6px;
	text-align: center;
	border-right: 1px solid white;
	line-height: 1.2;
}

#incidents td
{
	/*padding: 6px;*/
	color: #669;
	font-size: 16px;
	
	padding: 6px 2px;
	/*border-bottom: 1px solid #2175BC;*/
	border-bottom: 1px solid #BBB195;
	vertical-align: top;
}
#incidents .odd
{
	background: #e8edff; 
}

tr.alt td 
{
	/*background: #ecf6fc; */
	/*background: #ADCEF2; */
	/*background: #FFE183; */
	background: #FCF3D7; 
}
tr.over td, tr: hover td
{
	/*background: #bcd4ec;*/ 
}

#records
{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
	margin-top: 1px;
	font-size: 12px;
	/*margin: 10px;*/
	/*width: 480px;*/
	text-align: left;
	border-collapse: collapse;
}

/*#records th
{
	font-size: 16px;
	font-weight: normal;
	padding: 6px 4px;
	color: #039;
}*/
#records th {
	font-size: 16px;
		/*background: #3E83C9;*/
		/*background: #FF8040;*/
		/*background: #6989AB;*/
		background: #BFA040;
		color: white;
		font-weight: bold;
		padding: 2px 11px;
		text-align: left;
		border-right: 1px solid white;
		line-height: 1.2;
	}

#records td
{
	/*padding: 6px;*/
	color: #669;
	font-size: 16px;
	
	padding: 6px 11px;
	/*border-bottom: 1px solid #2175BC;*/
	border-bottom: 1px solid #BBB195;
	vertical-align: top;
}
#records .odd
{
	background: #e8edff; 
}

tr.alt td 
{
	/*background: #ecf6fc; */
	/*background: #ADCEF2; */
	/*background: #FFE183; */
	background: #FCF3D7; 
}
tr.over td, tr: hover td
{
	/*background: #bcd4ec;*/ 
}

.patientName A:link {text-decoration: none; color: white}
.patientName A:visited {text-decoration: none; color: white}
.patientName A:active {text-decoration: none; color: white}

label{
float: left;
width: 120px;
font-weight: bold;
}

.dateHeader {
	font-size: 10pt;
}

#chart1 {
	padding-left: 20px;
	background-color: white;
}

 .chart div {
  font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
 }
 
 
.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text.bar {
  fill: white;
}

/* http://mbostock.github.com/d3/ex/population.css */
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .range.s3 { fill: #bbb; }
.bullet .range.s4 { fill: #aaa; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

.tabbar-image {
	vertical-align:bottom;
	padding-left: 5px;
}

#nextLink {
	color: #034AF3;
}

.noStripeMeHeader
{
	background: #6EA8E4; 
}

#department {
	font-size:10px;
}
