body {
  background-color: lightgray;
  color: black;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

div#menu {
  margin-bottom: 20px;
}

div#menu .otherNavigation{
  font-size: 75%;
}

label{
  display: block;
}

#resultSummaryEditor label{
  display: inline;
}

table.results{
  border-color: #600;
  border-width: 0 0 1px 1px;
  border-style: solid;
}

table.results td{
  border-color: #600;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  padding: 4px;
  background-color: #CCC;
}

table.results th{
  border-color: #600;
  border-width: 1px 1px 0 0;
  border-style: solid;
}


.small-button{
  font-size: 50%;
  font-weight: normal;
}

a, input[type=submit]{
  color:black;
  border-style: solid;
  background-color: gray;
  font-size: 150%;
  border: solid black 2px;
}

li{
  margin-bottom: 15px;
}
/* DesignView */
.question-definition{
  border-style: dotted;
  border-width: 1px;
  margin: 10px;
  margin-top: 32px;
}
.question-definition-controls{
  float: right;
}
.group{
  border-style: dotted;
  border-width: 1px;
}
body.all-advanced-hidden .advanced{
  display: none;
}

#loading{
  background: rgba(18, 82, 0, 0.5);
  color: white;
  position: fixed;
  top: 100px;
  right: 10px;
  border: solid thin;
  padding: 15px;
}

#messageText{
  position: fixed;
  right: 10px;
  background: rgba(18, 82, 0, 0.5);
  padding: 15px;
}
