{
  "env" : {
    "default" : {
      "db" : "http://coco:cocopuffs@0.0.0.0:5985/coconut"
    },
    "public" : {
      "db" : "http://mikeymckay:con7qzw.@mikeymckay.iriscouch.com/coconut"
    },
    "dev" : {
      "db" : "http://localhost:5984/coconut"
    }
  }
}
