.couchapprc
.DS_Store

.project
node_modules

.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

.couchappignore
*.swp
*.map
.idea

bower_components/
grunt-couch

node_modules/grunt-couch/
