
 <div id="pagewidth-vert">
        	<div id="search-results">
	            <form name="searchForm" id="search-results-form" onsubmit="return false;">
	                <!-- <input type="hidden" id="first_surname" name="first_surname"/>
	                <input type="hidden" id="start_row" name="start_row"/> -->
	                <!-- <table>
	                    <tbody><tr>
	                        <td> -->
	                            <table class="banner-home-vert" width="100%">
	                                <tbody><tr>
	                                    <td style="vertical-align: top;"><input type="text" id="search_string" name="search_string" placeholder="Search:Phone/ID" size="15"/>						
	                                    <button id='form-search' value="Search" class="shiny-red">Search</button>
	                                    <!-- <td style="vertical-align: top;"> -->
	                                    	<button id='form-client'class="menu-blue" style="width: 70px;">Incident</button>
	                                    	<!-- <button id='form-design' class="menu-blue" style="width: 70px;">Config</button> -->
	                                    </td>
	                                 <!--    	<a href="#newPatient">New Client</a></td>
	                                    <td><a href="/mobilefuton/_design/mobilefuton/index.html">Configuration</a></td> -->
	                                </tr>
	                            </tbody></table>
	                       <!--  </td>
	                    </tr>
	                </tbody></table> -->
	            </form>
	            <div id="search-results-body-vert">
		        	<div id="search-results-list">
		        		<table id="incidents" width="100%" class="stripeMe">
							<thead>
								<tr>
									<th>Phone</th><th>Alert</th><th>Dept.</th><th>Date</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
		        	</div>
	        	</div>
        	</div>
    </div>