
 <div id="pagewidth">
        <div id="banner-home">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			        <td align="center" valign="middle" background="images/banner_bkgd.gif" height="46" width="100"><span class="serviceHeader"><a href="#home">TIMS</a></span>
                    <br/><span class="serviceHeaderSite"></span></td>
			        <td background="images/banner_bkgd.gif" align="right">&nbsp;</td>
			    </tr>
			</table>
		</div>
        <div id="twocols" class="clearfix">
        	<div id="search-results">
	            <form name="searchForm" id="search-results-form" onsubmit="return false;">
	                <!-- <input type="hidden" id="first_surname" name="first_surname"/>
	                <input type="hidden" id="start_row" name="start_row"/> -->
	                <table>
	                    <tbody><tr>
	                        <td>
	                            <table class="border: 1px solid #000;">
	                                <tbody><tr>
	                                    <td style="vertical-align: top;"><input type="text" id="search_string" name="search_string" placeholder="Search by surname or SA ID#" size="35"/>						
	                                    <button id='form-search' value="Search" class="shiny-blue">Search</button></td>
	                                </tr>
	                            </tbody></table>
	                        </td>
	                    </tr>
	                </tbody></table>
	            </form>
	            <div id="search-results-body">
		        	<div id="search-results-list">
		        		<table id="patients" width="100%" class="stripeMe">
							<thead>
								<tr>
									<th>Title</th><th>Date Reported</th><th>Modified</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
		        	</div>
	        	</div>
        	</div>
        </div>
        <div id="sidebar-a-print">
        	 <div id="banner-home">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			        <td align="center" valign="middle" background="images/banner_bkgd.gif" height="46" width="100"><span class="serviceHeader"><a href="#home">TIMS</a></span>
                    <br/><span class="serviceHeaderSite"></span></td>
			        <td background="images/banner_bkgd.gif" align="right">&nbsp;</td>
			    </tr>
			</table>
		</div>
            <div id="sidenavcontainer" style="margin-top:46px;">
                <ul id="navlist">
                <li><a href="#home" border="0">TIMS</a></li>
                <li>&nbsp;</li>
                <li><a href="#newPatient">New Client</a></li>
                <li>&nbsp;</li>
                <li><a href="/mobilefuton/_design/mobilefuton/index.html">Configuration</a></li> 
                <li><a href="FormDesignerAlpha/index.html">Form Design</a></li> 
                </ul>
            </div>
        </div>
    </div>