<div id="pagewidth">
        <div id="banner-home">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			        <td align="center" valign="middle" background="images/banner_bkgd.gif" height="46" width="100"><span class="serviceHeader"><a href="#home">TIMS</a></span>
                    <br/><span class="serviceHeaderSite"></span></td>
			        <td background="images/banner_bkgd.gif" align="right">&nbsp;</td>
			    </tr>
			</table>
		</div>
        <div id="loginStatus-print">
            <table cellpadding="0" cellspacing="0" bgcolor = "white" summary="Patient Status Bar" width="100%">
            <thead>
                <tr class="patientrowheader">
                    <th>Client</th>
                    <th>SA ID</th>
                    <th>TCC ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="patientrow">{{surname}}, {{forenames}} {{middle_name}}</td>
                    <td class="patientrow">{{countryIdNumber}}</td>
                    <td class="patientrow">{{districtPatientid}}</td>
                </tr>
            </tbody>
            </table>
        </div>  
        <div id="twocols" class="clearfix">
        	<div id="forms">
        		Patient ID (_id): {{_id}}
        		<p>List of records follows. Notice that Arrest Docket is on the left nav strip. That form is attached to a patient id. <br/>
        			Note that this patient's patientId (_id from the Patient Registration form) is in the link to that form and is used to associate records for the patient.
        		</p>
        		<table id="records" class="stripeMe"></table>
        		</div>
        </div>
        <div id="sidebar-a-print">
            <div id="sidenavcontainer">
                <ul id="navlist">
                <li><a href="#home" border="0">TIMS</a></li>
                <li>&nbsp;</li>
                <li><a href="#newPatient">New Client</a></li>
                <li>&nbsp;</li>
                <li><a href="#arrestDocket/{{_id}}">Arrest Docket</a></li>
                <li>&nbsp;</li>
                <li><a href="#config">Configuration</a></li> 
                </ul>
            </div>
        </div>
    </div>