<div id="pagewidth">
        <div id="banner-home">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			        <td align="center" valign="middle" height="46" width="100" ><span class="serviceHeader"><a href="#home">TIMS</a></span>
                    <br/><span class="serviceHeaderSite"></span></td>
			        <td align="right">&nbsp;</td>
			    </tr>
			</table>
		</div>
       <div id="loginStatusNone"></div>   
        <div id="twocols" class="clearfix">
        	<div id="search-results-list">
        		Record ID (_id): {{_id}}<br/>
        		<span id="record">
        			 patientId: {{patientId}}<br/>
        			 formCollection:{{formCollection}}<br/>
        			 formId:{{formId}}<br/>
        			 cas:{{cas}}<br/>
        			 station:{{station}}<br/>
        			 maintenance:{{maintenance}}<br/>
        			 created:{{created}}<br/>
        			 lastModified:{{lastModified}}<br/>
        		</span>
        		</div>
        </div>
        <div id="sidebar-a-print">
            <div id="sidenavcontainer">
                <ul id="navlist">
                <li><a href="#home" border="0">TIMS</a></li>
                <li>&nbsp;</li>
                <li><a href="#newPatient">New Client</a></li>
                <li>&nbsp;</li>
                <li><a href="#arrestDocket/{{_id}}">Arrest Docket</a></li>
                <li>&nbsp;</li>
                <li><a href="#config">Configuration</a></li> 
                </ul>
            </div>
        </div>
    </div>