	<script type="text/javascript" src="js-libraries/d3.js"></script>
	<script type="text/javascript" src="js-libraries/d3.chart.js"></script>
	<div id="charts">
	<!-- <img src="/coconut/_design/coconut/_list/chartline/byResolved?group_level=2"/> -->
	<table style="font-size:16px; text-align: center">
		<tr>
			<td style="font-size: 16px; text-align: center">Cases Per Department, Current Month</td>
		</tr>
		<tr>
			<td id="bulletChart" colspan="2" style="text-align: left"></td>
		</tr>
	</table>
</div>