{
   "_id": "coconut.config",
   "_rev": "5-31ccdcb4325bc9c0f5c956e95912d40f",
   "title": "Coconut Clinic",
   "cloud": "localhost:5984",
   "local_couchdb_admin_username": "coco",
   "local_couchdb_admin_password": "password",
   "cloud_credentials": "admin:password",
   "date_format": "YYYY-MM-DD",
   "datetime_format": "YYYY-MM-DD HH:mm:ss",
   "sync_mode": "couchdb-sync",
   "synchronization_target": "http://localhost:5984/coconut-boody"
}