{
   "_id": "coconut.config",
   "_rev": "4-d671c66ef88251a5b1bd05ca32db3fe1",
   "title": "Coconut Clinic",
   "cloud": "localhost:5984",
   "local_couchdb_admin_username": "admin",
   "local_couchdb_admin_password": "password",
   "cloud_credentials": "repi:0fqURf04!MIG",
   "date_format": "YYYY-MM-DD",
   "datetime_format": "YYYY-MM-DD HH:mm:ss",
   "sync_mode": "couchdb-sync",
   "coconut_central_url": "https://kiwicentral.org/coconut-central",
   "synchronization_target": "https://kiwicentral.org/coconut-moz-2014/",
   "coconut_forms_url": "https://kiwicentral.org/coconut-forms/"
}
