<h1>{{{polyglot "RegistrationComplete" }}}</h1>
<p>
    {{{polyglot "doYouwant" }}}
</p>
<p><a data-role="button" id="newReportLink" class="btn btn-primary btn-lg">{{{polyglot "enterNewReport" }}}</a></p>
<p><a data-role="button" id="registrationLink" class="btn btn-primary btn-lg">{{{polyglot "registerIndividualButton" }}}</a></p>


