<table id="userRecords" class="table table-striped">
    <thead>
        <tr>
            <th>{{{polyglot "DOB" }}}</th>
            <th>{{{polyglot "Gender" }}}</th>
            <th>{{{polyglot "createdAt" }}}</th>
            <th>{{{polyglot "District" }}}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

