<script id="UserRegistrationView" type="text/x-handlebars-template">
  <p>User Registration</p>
  <input type="text" name="gender" id="gender" placeholder="Gender"/>
  <input type="text" name="dob" id="dob" placeholder="DOB: Month / YYYY"/>
  <p><a data-role="button" id="submitUserRegistration" class="btn btn-primary btn-lg">Press to Register</a></p>
</script>