<p>
    <a data-role="button" id="TrichiasisSurgery" class="btn btn-primary btn-sm" href="#new/result/Trichiasis%20Surgery">Trichiasis Surgery</a> &nbsp; <a data-role="button" id="PostOperativeFollowup" class="btn btn-primary btn-sm" href="#new/result/Post-Operative%20Followup">Post-Operative Followup</a>
</p>
<table id="records">
    <thead><tr>
        <th>Question</th>
        <th>User</th>
        <th>Last Modified</th>
    </tr></thead>
    <tbody></tbody>
</table>