<h1>ID verification Confirmed</h1>

<p>You have been registered to use this device.</p>

<p>
    Do you want to:
</p>
<p><a data-role="button" id="registrationLink" class="btn btn-primary btn-lg">Register a new individual</a></p>
<p><a data-role="button" id="newReportLink" class="btn btn-primary btn-lg">Enter a new report</a></p>
