<h1>Registration complete.</h1>
<p>
    Do you want to:
</p>
<p><a data-role="button" id="newReportLink" class="btn btn-primary btn-lg">Enter a new service report for this individual</a></p>
<p><a data-role="button" id="registrationLink" class="btn btn-primary btn-lg">Register a new individual</a></p>


