<table id="records">
    <thead><tr>
        <th>{{{polyglot "Question" }}}</th>
        <th>{{{polyglot "Details" }}}</th>
        <th>{{{polyglot "dateModified" }}}</th>
    </tr></thead>
    <tbody></tbody>
</table>
