<p>{{{polyglot "cannotId" }}}</p>
<p><a data-role="button" id="scanRetry" class="btn btn-primary btn-lg">{{{polyglot "scanAgain" }}}</a></p>
<!--<p><a data-role="button" id="displayEnroll" class="btn btn-primary btn-lg">Enroll</a></p>-->
<p>{{{polyglot "clickEnroll" }}}</p>
<p><a data-role="button" id="enroll" class="btn btn-primary btn-lg">{{{polyglot "enroll" }}}</a></p>
<div id="enrollResults"></div>
