<h2>Instructions</h2>
<p><i>Please read the following text to the client:</i>
    <br/>
    <br/>
    We want you to know that the fingerprint scan is only used to verify your identity. We will only associate your gender and age with your fingerprint.
    No other information will be stored about you.
    <br/>
    <br/>
    <strong>Do you consent to having your fingerprint scanned?</strong>
    <br/>
    <br/>
    Nós queremos que você saiba que a digitalização de impressões digitais só é usado para verificar a sua identidade.
    Nós só vai associar o seu sexo e idade com sua impressão digital. Nenhuma outra informação será armazenada sobre você.
    <br/>
    <br/>
    <strong>Você aceita que as suas impressões digitais digitalizadas?</strong>
</p>
<h2>If the client has consented, please proceed.</h2>
<p>To identify or register an individual, please place thumb on the scanner and press the "Scan" button.</p>
<p>
<a data-role="button" id="scan" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">Scan</span></a>
</p>

<div id="message"></div>
<!--<style shim-shadowdom>-->

    <!--paper-progress::shadow #progressContainer {-->
        <!--height:200%;-->
        <!--width:200%;-->
    <!--}-->

<!--</style>-->

<!--<paper-progress id="scan-progress"></paper-progress>-->