<p>To identify or register an individual, please place thumb on the scanner and press the "Scan" button.</p>
<p>
<a data-role="button" id="scan" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">Scan</span></a>
</p>

<div id="message"></div>
<!--<style shim-shadowdom>-->

    <!--paper-progress::shadow #progressContainer {-->
        <!--height:200%;-->
        <!--width:200%;-->
    <!--}-->

<!--</style>-->

<!--<paper-progress id="scan-progress"></paper-progress>-->