<p>The system was unable to identify this person.</p>
<p><a data-role="button" id="scanRetry" class="btn btn-primary btn-lg">Scan again</a></p>
<p><a data-role="button" id="register" class="btn btn-primary btn-lg">Register</a></p>