    <p>To register an individual, please place thumb on the scanner and press the "Scan" button.</p>
    <p>
    <a data-role="button" id="scan" class="btn btn-primary btn-lg">Scan</a>
    </p>

    <style shim-shadowdom>

        paper-progress::shadow #progressContainer {
            height:200%;
            width:200%;
        }

    </style>

    <paper-progress id="scan-progress"></paper-progress>

    <p>
        Do you want to verify if this individual was registered before?
    </p>
    <p style="font-style: italic">If Yes, you must be connected to server</p>
    <p>
        <a data-role="button" id="verifyYes" class="btn btn-primary btn-lg">Yes</a> &nbsp&nbsp&nbsp&nbsp&nbsp
        <a data-role="button" id="verifyNo" class="btn btn-primary btn-lg">No</a>
    </p>
