<p>The system was unable to identify this person.</p>
<p><a data-role="button" id="scanRetry" class="btn btn-primary btn-lg">Scan again</a></p>
<!--<p><a data-role="button" id="displayEnroll" class="btn btn-primary btn-lg">Enroll</a></p>-->
<p>Click the button to Enroll your fingerprint to the Simprints server.</p>
<p><a data-role="button" id="enroll" class="btn btn-primary btn-lg">Enroll</a></p>
<div id="enrollResults"></div>