<div id="statusIcons"></div>
<div class="container" id="navbarContainer">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#"><img src="images/KiwiPrints_black.png"/></a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <!--<li class="siteNav"><a href="#">{{{polyglot "Home" }}}</a></li>-->
            <li class="siteNav"><a href="#">{{{polyglot "Login" }}}</a></li>
            <li class="siteNav" id="settingsLink"><a href="#sync">{{{polyglot "Settings" }}}</a></li>
            <li class="siteNav" id="patientEncountersLink"><a href="#displayUserScanner">{{{polyglot "PatientEncounters" }}}</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
