<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#"><img src="images/Kiwi-Logo-150.png" height="80"/></a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <!--<li class="siteNav"><a href="#">{{{polyglot "Home" }}}</a></li>-->
            <li class="siteNav"><a href="#sync">{{{polyglot "Sync" }}}</a></li>
            <li class="siteNav"><a href="#displayUserScanner">{{{polyglot "Scanner" }}}</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
