<!--<report-form></report-form>-->
<h1>{{{polyglot "newReport" }}}</h1>

<div role="heading">
    <legend>{{{polyglot "ClickFormName" }}}</legend>
</div>

<p>
    <a data-role="button" id="TrichiasisSurgery" class="btn btn-primary btn-lg">{{{polyglot "trichiasisSurgery" }}}</a><br/>
</p>
<p>
    <a data-role="button" id="PostOperativeFollowup" class="btn btn-primary btn-lg">{{{polyglot "postOperativeFollowup" }}}</a>
</p>

