<!--<report-form></report-form>-->
<h1>New Report</h1>

<div role="heading">
    <legend>Click the name of the form you wish to use:</legend>
</div>

<ul>
    <li id="TrichiasisSurgery">Trichiasis Surgery</li>
    <li id="PostOperativeFollowup">Post-Operative Followup</li>
</ul>
