<!--<report-form></report-form>-->
<h1>New Report</h1>

<div role="heading">
    <legend>Click the name of the form you wish to use:</legend>
</div>

<p>
    <a data-role="button" id="TrichiasisSurgery" class="btn btn-primary btn-lg">Trichiasis Surgery</a><br/>
</p>
<p>
    <a data-role="button" id="PostOperativeFollowup" class="btn btn-primary btn-lg">Post-Operative Followup</a>
</p>

