    <p>To start please verify User Identification by placing thumb on the scanner and pressing the "Scan" button.</p>
<p>
    <a data-role="button" id="verify" class="btn btn-primary btn-lg">Scan</a>
</p>

<style shim-shadowdom>

    paper-progress::shadow #progressContainer {
        height:200%;
        width:200%;
    }

</style>

<paper-progress id="scan-progress"></paper-progress>
